<section class="icons">
  <ul>
    {{#each data as |daily|}}
    {{log data}}
      <li class="daily-icon-0">{{daily.cloudCover}}</li>
    {{/each}}
  </ul>
</section>
<section class="precip">
  <ul>
    {{#each data as |daily|}}
    <li>{{daily.ozone}}</li>
    {{/each}}
  </ul>
</section>
<section class="sunset">
  <ul>
    {{#each data as |daily|}}
    <li>{{daily.sunriseTime}}</li>
    {{/each}}
  </ul>
</section>
<section class="sunrise">
  <ul>
    {{#each data as |daily|}}
    <li>{{daily.sunsetTime}}</li>
    {{/each}}
  </ul>
</section>
